.headerPrincipal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}
.titulo_principal{
    display: flex;
    font-family: "Raleway";
    font-weight: bolder;
    text-decoration: none;
    color: black;
}
.otroColor{
    color: #2A7AE4;
}
.boton_login{
    padding: 0.30rem 2rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #2A7AE4;
    border-color: #2A7AE4 ;
    background-color: white;
}
@media screen and (max-width: 767px){
    .input_buscar{
        display: none;
    }
    .boton_buscadorr{
        border: none;
        background-color: white;
        padding-right: 20px;
    }
}

@media screen and (min-width: 768px){
    .headerPrincipal{
        flex-direction:row;
        height: 70px;
    }
    .boton_login{
        order: 1;
    }
    .boton_buscador{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 16px;
        background: #F5F5F5;
        border-radius: 20px;
        text-decoration: none;
    }
    .input_buscar{
        font-family: 'Raleway';
        font-style: normal;
        color: #A2A2A2;
        height: 15px;
        border: none;
        background: #F5F5F5;
    }
    .boton_buscadorr{
        border: none;
        background-color: #F5F5F5;
        
    }
}
@media screen and (min-width: 1024px){
    .boton_login{
        order: 1;
    }
    .input_buscar{
        padding-right: 100px;
    }
    .boton_buscador{
        display: flex;
        padding: 8px;
        background: #F5F5F5;
        border-radius: 20px;
        text-decoration: none;
    }
}